<!doctype html>
<html>
<body>
    <header>
        <link rel="stylesheet" href="../../../stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic/700,300">
        <link rel="stylesheet" href="../../../stylesheets/lib.css">
        <title>Finstagram</title>
    </header>
    <main role="main">
        <article class="finstagram-post">
        </article>
            <div class="user-info"></div>>
            <img src="https://live.staticflickr.com/65535/52358606250_01c667c5da_w.jpg" alt="sharky_j">                >
                <h2>sharky_j</h2>
                <h3>15 minutes ago</h3>
            </div>
            <a class="photo" href="#">
                <img src=https://www.flickr.com/photos/jordi-sureda-plantalech/26414700140/in/photolist-Gfbf5u-2isGpHN-a7UKxg-MAxPaA-yuiK6v-JxdNCf-9RKVPq-8qbBAr-7WSRuW-F6G6SA-2gEyXUR-dDfFRN-nA799d-KjZagv-9towDg-83hze6-2kpb5Jt-JiDgan-2nhepse-2m4zWQa-dSEDKr-GMiYZa-8PMS22-2mMwDLU-5u2cHJ-2kLnqXz-hkX4Bc-3p15t-Mt5Qd8-6fEF32-2iC8CzK-2ay5iKU-2oPCsx8-2mQ6AYa-6UxeqD-dC2R33-PWE4bC-chvYJY-2MKsP-KYqF9F-2jeByF7-6TWdqL-28BUd3D-N9rBEQ-2kky379-iYsMiL-4Dapdf-4CR2Ay-9cnA8v-8PMNqt">
            </a>
            <span class="comment-count">0 comments</span>
        </div>
        <ul class="comments">
            <li>
                <p>
                    sharky_j: Out for the long weekend... too embarrassed to show y'all the beach bod!
                </p>
            </li>
        </ul>
    </article>
    </main>
</body>
</html>
